# portas RMQ
PORT_RMQ=5672

# Os nomes das filas identificam sua função, pense em um bom nome quando inserir uma nova.
QUEUE_NAME='test-queue'

#Url rabbitMQ authentication
RABBITMQ_USER='guest'
RABBITMQ_PASSWORD='guest'
RABBITMQ_HOST='localhost'

# app port
PORT=3000